/*  Desktop view  */

/* Default settings */

/* Nunito Sans (400,700) & Roboto (400&700) */
@import url(../fonts/font-style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --deep-blue: #284854;
    --beige: #f4f6f0;
    --dark-beige: #D3DAC3;
    --aqua-blue: #60c1bd;
    --salad-green: #8bc441;
    --dark-green: #798B56;
    --white: #fff;
}

body {
    font-family: "Nunito Sans";
    color: var(--deep-blue);
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

span.d-block {
    display: block;
}

h1,
h2,
h3 {
    font-family: "Roboto";
    font-weight: 700;
}

ul {
    list-style-type: none;
}

[class*="-body"] {
    max-width: 1230px;
    margin: 0 auto;
}

.aqua-blue-link:hover {
    color: var(--dark-green);
    text-shadow: 2px 2px 10px #28485427;
    opacity: 0.8;
}

/* Header - START */
.header-container {
    background-color: var(--deep-blue);
    padding-top: 23px;
    margin-bottom: 289px;
    position: relative;
}
.header-body {
    position: static;
}

    /* Logo & Top links & Login */
.top-bar {
    padding: 23px 75px 25px 44px;
    margin-bottom: 135px;
    background-color: #60c1bd;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-logo {
    font-size: 30px;
    color: var(--white);
}
.brand-logo:hover {
    opacity: 0.7;
}
.top-links-list {
    display: flex;
    column-gap: 95px;
}
.top-link,
.burger-link {
    color: inherit;
    font-size: 18px;
    /* margin-right: 95px; */
}
.top-link:hover,
.burger-link:hover {
    color: var(--white);
}
.login-btn,
.burger-login-btn {
    padding: 4px 21px;
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.login-btn:hover,
.burger-login-btn:hover {
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2)
}
.login-btn:active,
.burger-login-btn:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.5)
}

    /* Hero box */
.hero-box {
    padding: 0 65px;
}

    /* Text content */
.hero-content-wrapper {
    display: flex;
    justify-content: space-between;
    
}
.primary-heading {
    color: var(--salad-green);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 85px;
    line-height: 102px;
    margin-bottom: 60px;
}
.primary-description {
    max-width: 542px;
    font-size: 20px;
    line-height: 28px;
    color: var(--white);
}

    /* Application */
.hero-appl-wrapper {
    position: relative;
    top: 123px;
    display: flex;
    justify-content: space-between;
    
}
.appl-img-veterinarians {
    width: 101px;
    background-image: url(../img/header/veterinarians.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.appl-img-hospitals {
    width: 119px;
    background-image: url(../img/header/hospitals.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


    /* Application content */
.hero-appl {
    background-color: var(--beige);
    height: 203px;
    width: 506px;
    padding: 45px 30px 47px;
    display: flex;
    column-gap: 46px;
}
.appl-description {
    max-width: 237px;
}
.appl-title {
    color: var(--salad-green);
    font-size: 37px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 43px;
    margin-bottom: 9px;
}
.appl-link {
    color: var(--aqua-blue);
    font-size: 20px;
}
    /* Burger button (Tablet & Mobile) */
#burger,
#burger-menu {
    display: none;
}
/* Header - END */



/* Main - START */
.main-body {
    max-width: 956px;
    margin: 0 auto 80px;
}
/* Header (Main section) */
.header-main {
    text-align: center;
    margin-bottom: 83px;
}
.top-overlap {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: var(--aqua-blue);
}
.secondary-heading {
    font-size: 55px;
    font-family: "Roboto";
}
    /* Features */
.feature {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-img-wrapper {
    width: 285px;
    height: 285px;
    background-color: var(--beige);

    border-radius: 50%;
    position: relative;    
}
.feature-description-wrapper {
    max-width: 541px;
}
.feature .feature-img-wrapper::before {
    content: "";
    z-index: 2;
    top: center;
    left: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
    /* Feature 1/3 (Step one) */
.step-one .feature-img-wrapper::before {
    background-image: url(../img/main/great-vets.svg);
    left: 50px;
    bottom: 29px;
    height: 287px;
}

    /* Feature 2/3 (Next) */
.next .feature-img-wrapper::before {
    background-image: url(../img/main/partner.svg);
    left: -27px;
    bottom: 33px;
    height: 304px;
}

    /* Feature 3/3 (Result) */
.result .feature-img-wrapper::before {
    background-image: url(../img/main/happy-vets.svg);
    left: 74px;
    bottom: 41px;
    height: 258px;
}

    /* Feature content */
.middle-overlap {
    margin-bottom: 10px;
    color: var(--dark-green);
    font-size: 20px;
    font-weight: 700;
}
.feature .tertiary-heading {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 47px;
    font-family: "Roboto";
    color: var(--salad-green);
}
.feature-description {
    font-size: 15px;
    line-height: 29px;
}
/* Main - END */



/* Mission - START */
.our-mission-container {
    background-color: var(--beige);
    padding: 76px 0 127px;
    margin-bottom: 11px;
}
.our-mission-body {
    display: flex;
    padding: 0 75px 0 44px;
}
    /* Our mission image */
.our-mission-image-wrapper {
    margin-right: 112px;
}
.our-mission-image-wrapper img {
    max-width: 450px;
}

    /* Our mission text content */
.our-mission-body .top-overlap {
    margin-bottom: 5px;
}
.our-mission-body .secondary-heading {
    margin-bottom: 31px;
}
.our-mission-description {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 80px;
}
.our-mission-link {
    color: var(--aqua-blue);
    padding: 8px;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid var(--aqua-blue);
    appearance: button; 
}
.our-mission-link:hover {
    color: var(--dark-green);
    text-shadow: 2px 2px 10px #28485427;
    opacity: 0.8;
    border: 1px solid var(--dark-green);
}
.our-mission-link:active {
    transform: scale(0.97);
}
/* Mission - END */



/* Sounds good - START */
.sounds-good-container {
    background-color: var(--salad-green);
    padding: 86px 0;
    margin-bottom: 42px;
}
.sounds-good-body {
    display: flex;
    padding: 0 75px 0 44px;
}

    /* Sounds good image */
.sounds-good-image-wrapper {
    margin-right: 167px;
}
.sounds-good-image-wrapper img {
    max-width: 241px;
}

    /* Sounds good text content */
.sounds-good-body .secondary-heading {
    margin-bottom: 57px;
    font-weight: 400;
    line-height: 64px;
    max-width: 524px;
    color: var(--white);
    margin-left: 11px;
}
    /* Sounds good application links */
.sounds-good-appl-wrapper {
    display: flex;
    /* column-gap: 142px; */
    column-gap: 131px;
    justify-content: space-between;
}
.sounds-good-link {
    max-width: 242px;
    font-size: 20px;
    line-height: 27px;
    color: var(--white);
    padding: 4px 10px;
    border: 1px solid transparent;
    appearance: button;
}
.sounds-good-link:hover {
    border: 1px solid var(--white);
    text-shadow: 2px 2px 10px #28485485;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.15);
}
.sounds-good-link:active {
    transform: scale(0.97);
}
/* Sounds good - END */


/* Footer - START */
.footer-container {
    margin-bottom: 42px;
}
.footer-body {
    max-width: 1196px;
    padding: 78px 93px 19px 30px;
    margin-bottom: 62px;
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-size: auto 210px;
    background-position: 62% 98px;
    /* background-position: 598px 98px; */
}
.footer-links {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    column-gap: 151px;
}
.footer-links > div {
    max-width: 189px;
}

    /* Footer content */
.footer-links .tertiary-heading {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 18px;
    margin-bottom: 25px;
}
.bottom-link {
    display: block;
    color: var(--aqua-blue);
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 18px;
}

    /* Veterinarians */
/* .veterinarians {
    margin-right: 151px;
} */

    /* Find us */
.find-us {
    margin-left: auto;
}
    /* Address */
.address-body {
    margin-bottom: 25px;
}
.find-us-item {
    display: block;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--aqua-blue);
    margin-bottom: 4px;
}
.find-us-item:hover,
.bottom-link:hover {
    color: var(--dark-green);
    text-shadow: 2px 2px 10px #28485427;
    opacity: 0.8;
}

    /* Duplicates of top links */
.nav-links {
    margin-bottom: 33px;
    display: flex;
    column-gap: 39px;
}

    /* Bottom bar */
.trademark {
    font-size: 13px;
    line-height: 18px;
}
/* Footer - END */








/* ////////////////////////////////////////////// */
/* ------ ATTENTION! ------*/
/* --- NEW MEDIA QUERY --- */

/*  Tablet view  */
@media (max-width: 1024px) {

/* Header - START */
.top-links-list,
.login-btn {
    display: none;
}

    /* Burger button */
#burger {
    display: block;
    width: 50px;
    z-index: 1;
    position: absolute;
    right: 44px;
    user-select: none;
}
#burger input {
    display: block;
    width: 55px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    left: -3px;
    opacity: 0;
}
    /* A quick hamburger */
#burger span {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    /* position: relative; */
    background-color: var(--white);
    border-radius: 3px;
    z-index: 1;

    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
#burger span:first-child {
    transform-origin: 0% 0%;
}
#burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
    /* Setting a crossmark & Burger animation */
#burger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-15px, -20px);
    background: var(--deep-blue);
    height: 6px;
}
        /* Making the middle one to disappear */
#burger input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
}
        /* Setting the last one in the other direction */
#burger input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg)  translate(-8px, 16px);
}

    /* Burger menu properties */
#burger-menu {
    width: 100vw;
    position: absolute;
    background-color: var(--aqua-blue);
    margin-left: 0px;
    padding: 43px 40px 20px;
    top: 0%;
    left: 0%;
    transform-origin: 0% 00%;
    transform: translate(0%, -100%);
    transition: transform 1s cubic-bezier(0.77,0.2,0.05,1);
    border-bottom: 2px solid var(--white);
    display: flex;
    /* gap: 44px; */
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 20px;
}
.burger-links-list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.burger-link {
    font-size: 24px;
}
.brand-logo {
    font-size: 50px;
}
.burger-login-btn {
    font-size: 18px;
    padding: 12px 84px;
}

    /* Hero box (Heading & Description & Image) */
.hero-box {
    padding: 0 32px;
}
.hero-img {
    display: none;
}
.hero-text {
    position: relative;
}
.primary-heading {
    font-size: 75px;
    line-height: 75px;
    width: 100%;
    /* text-align: center; */
}
.primary-description {
    position: static;
    font-size: 22px;
    line-height: 34px;
    max-width: 60%;
}
.primary-description::after {
    content: "";
    display: block;
    position: absolute;
    /* top: 270px; */
    top: 48%;
    right: 0;
    height: 180px;
    width: 150px;
    /* border: 1px solid white; */
    padding: 40px;
    background-image: url(../img/header/vet-staffing.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

    /* Application links */
.hero-appl-wrapper {
    align-items: center;
    row-gap: 30px;
    flex-flow: column nowrap;
}
.hero-appl {
    max-width: 80%;
    height: 180px;
    padding: 30px 20px;
    column-gap: 35px;
}
.appl-title {
    font-size: 42px;
}
.appl-link {
    font-size: 24px;
}
/* Header - END */



/* Main - START */
.main-body {
    padding: 0 30px;
}

    /* Header (Main section) */
.secondary-heading {
    font-size: 65px;
}
.top-overlap {
    font-size: 26px;
}

    /* Features */
.feature {
    flex-flow: column nowrap;
    margin-bottom: 140px;
}
.feature.next {
    flex-direction: column-reverse;
}
.feature-img-wrapper {
    margin-bottom: 60px;
}

    /* Feature content */
.middle-overlap {
    font-size: 24px;
    margin-bottom: 12px;
}
.feature .tertiary-heading {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 12px;
    /* text-align: center; */
}
.feature-description {
    font-size: 20px;
    line-height: 38px;
}
/* Main - END */



/* Mission - START */
.our-mission-container {
    background-image: url(../img/mission.svg);
    background-repeat: no-repeat;
    background-size: 330px;
    background-position: bottom 10px right 10px;
}
    /* Our mission image */
.our-mission-image-wrapper {
    display: none;
}
    /* Our mission text content */
.our-mission-description {
    font-size: 23px;
    line-height: 38px;
}
.our-mission-link {
    padding: 12px;
    font-size: 20px;
    line-height: 28px;
}
/* Mission - END */



/* Sounds good - START */
.sounds-good-body {
    padding: 0 30px;
}
    /* Sounds good image */
.sounds-good-image-wrapper {
    display: none;
}
    /* Sounds good text content */
.sounds-good-body {
    position: relative;
}
.sounds-good-body .secondary-heading {
    font-size: 60px;
    max-width: 80%;
}
.lets-break {
    margin-top: 15px;
    display: block;
    font-size: 50px;
}
.lets-break:after {
    content: "";
    position: absolute;
    display: inline-block;
    /* padding: 10px; */
    right: 0;
    top: 0;
    width:  200px;
    height: 200px;
    background-image: url(../img/sounds-good-white-flipped.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
    /* Sounds good application links */
.sounds-good-appl-wrapper {
    justify-content: center;
    column-gap: 10%;
}
.sounds-good-link {
    max-width: 40%;
    text-align: center;
}
/* Sounds good - END */



/* Footer - START */
.footer-body {
    max-width: 1196px;
    padding: 45px 30px 19px;
    margin-bottom: 62px;
    background-image: none;
}
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
    column-gap: 2%;
}
.footer-links > div {
    max-width: unset;
    flex-basis: 30%;
}

    /* Footer content */
.footer-links .tertiary-heading {
    font-size: 20px;
    letter-spacing: 6px;
}
.bottom-link {
    /* margin-bottom: 19px; */
    font-size: 18px;
    line-height: 26px;
}

    /* Veterinarians */
        /* Nothing to be done yet */

    /* Find us */
.find-us {
    margin-left: unset;
}
    /* Address */
.address-body {
    margin-bottom: unset;
}
.find-us-item {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 14px;
}

    /* Duplicates of top links */
.nav-links {
    flex-wrap: wrap;
}

    /* Bottom bar */
.trademark {
    font-size: 18px;
    line-height: 20px;
}
/* Footer - END */
}



/* ////////////////////////////////////////////// */
/* ------ ATTENTION! ------*/
/* --- NEW MEDIA QUERY --- */
/* A special media query for one footer element only */
@media (max-width: 710px) {
.footer-links {
    justify-content: flex-end;
    column-gap: 6%;
}
.footer-links > div {
    flex-basis: 47%;
    margin-bottom: 40px;
}
    /* Footer content */
    /* Find us */
.find-us::before {
    content: "";
    position: absolute;
    display: block;
    width: 47%;
    height: 200px;
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 30px;
}
    /* Duplicates of top links */
.nav-links {
    column-gap: 5%;
}
}



/* ////////////////////////////////////////////// */
/* ------ ATTENTION! ------*/
/* --- NEW MEDIA QUERY --- */

/*  Mobile view  */
@media (max-width: 560px) {

/* Header - START */
    /* Burger menu properties */
.burger-links-list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
#burger {
    z-index: 4;
}
#burger span {
    z-index: 3
}
#burger-menu {
    z-index: 2;
}
    /* Hero box (Heading & Description & Image) */
.primary-heading {
    text-align: start;
    /* Consider to delete it */
    font-size: 55px;
    line-height: 70px;
} 
.primary-description {
    max-width: 100%;
}
.primary-description::after {
    position: static;
    margin: 30px auto -50px;
}
    /* Application links */
.appl-img-hospitals,
.appl-img-veterinarians {
    display: none;
}
.hero-appl {
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero-appl:first-child,
.hero-appl:nth-child(2) {
    background-position: 97% 90%;
    background-repeat: no-repeat;
    background-size: 20%;
}
.hero-appl:first-child {
    background-image: url(../img/header/veterinarians.svg);
    background-size: 18%;
}
.hero-appl:nth-child(2) {
    background-image: url(../img/header/hospitals.svg);
}
/* Header - END */



/* Main - START */
    /* Nothing to be done yet */
/* Main - END */



/* Mission - START */
.our-mission-container {
    background-image: none;
    padding-bottom: 30px;
}
.our-mission-body {
    flex-direction: column-reverse;
}
    /* Our mission image */
.our-mission-image-wrapper {
    display: block;
    margin-right: 0;
    margin-top: 30px;
}
.our-mission-image-wrapper img {
    max-width: 100%;
}
/* Mission - END */



/* Sounds good - START */
    /* Sounds good text content */
.sounds-good-container {
    padding: 60px 0;
    overflow: hidden;
}
.sounds-good-link {
    z-index: 2;
}
.sounds-good-body .secondary-heading {
    max-width: 100%;
}
.lets-break {
    display: inline-block;
}
.lets-break:after {
    /* display: none; */
    width:  600px;
    height: 600px;
    left: 20%;
    opacity: 0.15;
    z-index: 1;
}
    /* Sounds good application links */
.sounds-good-appl-wrapper {
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 20px;
}
.sounds-good-link {
    max-width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
/* Sounds good - END */



/* Footer - START */
.footer-body {
    background-image: url(../img/footer.svg);
    background-size: 40%;
    /* background-size: auto 210px; */
    background-position: top 130px right 30px;
}
.footer-links {
    flex-direction: column;
}
    /* Footer content */
    /* Find us */
.find-us::before {
    display: none;
}
/* Footer - END */
}
    
    



















































































/*  Desktop view  */

/* Header - START */
/* Header - END */

/* Main - START */
/* Main - END */

/* Mission - START */
/* Mission - END */

/* Sounds good - START */
/* Sounds good - END */

/* Footer - START */
/* Footer - END */










/*  Desktop view  */

/* Header - START */
/* Header - END */

/* Main - START */
/* Main - END */

/* Mission - START */
/* Mission - END */

/* Sounds good - START */
/* Sounds good - END */

/* Footer - START */
/* Footer - END */

